body {
  margin: 0px;
  padding: 0px;

  background-color: pink;

  /**
   * Prevent default touch behavior, allowing us to implement pinch-to-zoom
   */
  touch-action: none;
}

#app-container {
  width: 100%;
  padding: 20px 8px;
  box-sizing: border-box;
  background-color: white;
}

#sound-wave-container {
  --soundwave-height: 150px;
  --container-height: 200px;

  position: relative;
  border: 1px dashed olive;
  height: var(--container-height);
  overflow: clip;
  display: flex;
  align-items: center;

  #sound-wave-canvas-wrapper {
    position: absolute;
    height: var(--soundwave-height);
    width: 100%
  }

  .debug-stuff {
    position: absolute;
    top: calc((var(--container-height) - var(--soundwave-height)) / 2);
    z-index: 1;
    color: white;
    font-size: 11px;
    font-weight: bold;
    font-family: monospace;
  }

  .sound-wave-canvas {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: var(--soundwave-height);

    &.scrollable {
      cursor: all-scroll;
    }
  }

  .sound-line {
    fill: none;
    stroke: black;
    stroke-width: 1;
  }

  .selection-foreground {
    position: absolute;
    left: var(--x-position);
    width: var(--width);
    /* height: var(--soundwave-height); */
    height: 100%;

    .fill {
      position: absolute;
      top: calc((var(--container-height) - var(--soundwave-height)) / 2);
      height: var(--soundwave-height);
      left: 0;
      right: 0;
      width: 100%;
      background-color: rgba(0, 50, 255, 0.5);
      cursor: grab;
    }

    .marker {
      position: absolute;
      top: 0;
      bottom: 0;
      width: 0px;
      border-left: 4px solid green;
      cursor: col-resize;

      &:before, &:after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
      }

      --touch-radius: 15px;

      &:before {
        left: calc(-1 * var(--touch-radius));
        right: 0;
      }

      &:after {
        right: calc(-1 * var(--touch-radius));
        left: 0;
      }

      &.left {
        left: 0;
      }

      &.right {
        right: 0;
      }
    }
  }

  .progress-indicator {
    position: absolute;
    height: var(--soundwave-height);
    /* top: 0; */
    /* bottom: 0; */
    left: 0;
    transform: translateX(calc(-50% + var(--x-position)));

    width: 3px;
    background-color: red;
  }
}
